header {
    position: sticky;
    top: 0;
    .header {
        position: relative;
        padding: 20px 0px;
        .header-logo {
            width: 70px;
            height: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        nav {
            li {
                a {
                    font-size: 13px;
                    font-weight: 600;
                    padding: 28px 20px;
                }
                button {
                    position: absolute;
                    top: 0px;
                    font-weight: 600;
                    padding: 20px 38px;
                    right: -77px;
                    color: white;
                    background-color: #be9278;
                }
            }
        }
    }
}