@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
}

a {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.light {
    background-color: white;
    color: black;
    a {
        color: black;
    }
}

.dark {
    background-color: #121212;
    color: white;
    a {
        color: white;
    }
}